#Navigation {
    background-color: #444444;
    overflow: hidden;
}
ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#Parts{
    width: 100%;
    height:500px;
}
#Links, #Rechts{
    float: left;
    box-sizing: border-box;
    background-color: #f0f8ff;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
}
#Links {
    width: 79%;
}
#Rechts {
    width: 20%;
    margin-left: 0.5%;
}
#Selektion {
    width: 100%;
    float: left;
    height: 130px;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
}
div.scrollMenu {
    background-color: #f0f8ff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollMenu a{
    background-color: #4d4d4d;
    height: 79px;
    display: inline-block;
    width: 21%;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-color: white ;
    border-style: solid;
}

#dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
    margin-left: 155%;
  font-size: 10px;
  border: none;
    width: 100%;
  cursor: pointer;
}

#Dropdown {
  position: relative;
    width : 30%;
    height: 5px;
  display: inline-block;
}

    #Dropdown-content {
  display: none;
  position: absolute;
  margin-left: 155%;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#Dropdown-content a {
    position: absolute;
  color: #7c7d74;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  text-decoration: none;
  display: block;
    height: 10px;
    width: 46%;
}

#Dropdown-content a:hover {
    background-color: #f1f1f1}

#Dropdown:hover #Dropdown-content {
    height: 5px;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#Treemap{
    width: 100%;
    height: 450px;
    float:left;
    text-align: left;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
}
#add{
    float: right;
    text-align: right;
    margin-right: 1%;
    border-radius: 50%;

}
#tm{
    margin-right: 100px;
}
#Suchleiste{
    width: 100%;
    height:30px;
    float:left;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
}
#suche {
        float:left;
  border: 2px solid #999;
  border-radius: 0.5em;;
  font-size: 1.2em;
  width: 100%;
    height: 29px;
  transition: width 0.5s ease-in-out;
}

#suche:focus {
  font-size: 1.5em;
  width: 50%;
}
#Graphen{
    width: 100%;
    float:left;
    height:470px;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
}
#buttons{
    float:left;
    width: 100%;
    height:25px;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    align-content: center;
}

#run {
    margin-right: 1%;
    text-align: center;
    float: left;
    height: 30px;
}
#edit{
    margin-right: 1%;
    float:left;
    height:30px;
    text-align: center;
}
#save{
    margin-right: 1%;
    text-align: center;
    float:left;
    height:30px;
}

